/* You can add global styles to this file, and also import other style files */
.hover-cursor{
	cursor: pointer;
}

.logo{
	width: 90px;
	height: 100px;
	margin-left: 40%;
}

.jumbotron{
	background-color: #4e657b;
}