<div class="jumbotron" style="padding: 45px 0px">
	<img class="logo" src="../assets/icon.png">
	<h4 class="text-center text-white">LISTA DE TAREFAS</h4>
</div>

<div class="input-group mb-3">
	<input type="text" class="form-control" placeholder="Adicione aqui uma tarefa" #itemTitle>
	<div class="input-group-append hover-cursor btn btn-sm btn-secondary" (click)="onAdd(itemTitle)">
		<i class="fa fa-plus-circle fa-2x"></i>
	</div>
</div>

<div style="margin: 5px 0px">
	<ul class="list-group">
		<li class="list-group-item" *ngFor="let item of toDoListArray">
			<span style="width: 20px" class="hover-cursor" [class.text-success]="item.isChecked" (click)="alterCheck(item.$key,item.isChecked)">
				<i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle':'fa-circle-thin'"></i>
			</span>
			&nbsp{{item.title}}
			<span class="hover-cursor text-danger pull-right" (click)="onDelete(item.$key)">
				<i class="fa fa-trash-o fa-lg"></i>
			</span>
		</li>
	</ul>
</div>